language: node_js
node_js:
  - "8"
notifications:
    email:
        recipients:
            - ta7382@gmail.com
        on_failure: always
install:
    - npm install
script:
    - npm run build
    - npm run lint
    - npm test

