<h1>Agm-Direction Playground -
    <a href="https://github.com/explooosion/Agm-Direction" target="_blank">Github</a>
</h1>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints" [renderOptions]="renderOptions" [markerOptions]="markerOptions" [infoWindow]="infoWindow" (sendInfoWindow)="obtainInfowindow($event)"> </agm-direction>
    <agm-direction [origin]="origin1" [destination]="destination1" [waypoints]="waypoints" [renderOptions]="renderOptions" [markerOptions]="markerOptions" [infoWindow]="infoWindow" (sendInfoWindow)="obtainInfowindow($event)"> </agm-direction>
</agm-map>