<h1>Agm-Direction Playground -
    <a href="https://github.com/explooosion/Agm-Direction" target="_blank">Github</a>
</h1>
<input type="text" [(ngModel)]="origin">
<input type="text" [(ngModel)]="destination">
<br />
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints" [renderOptions]="renderOptions" [markerOptions]="markerOptions" [infowindow]="infowindow"
        (onChange)="dirChange($event)" (sendInfowindow)="obtainInfowindow($event)">
    </agm-direction>
</agm-map>